#searchbar,
.searchbar {
    position: absolute;
    font-family: Cambria;
    z-index: 1;
    top: 25%;
    left: 20%;
    border: 2px solid black;
    background-color: white;
    border-radius: 15px;
    display: none;
}

#searchbar {
    display: none;
    position: absolute;
    font-family: Cambria;
    float: left;
    position: fixed;
    text-align: center;
    width: 50%;
    height: 50%;
}

.searchbar-a {
    display: none;
    float: left;
    font-size: 16px;
    color: black;
    width: 100%;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}